{% extends 'layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block panel_title %}Perfíl de {{ app.user.username }} {% endblock %}

{% block panel_body %}
  <div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
  </div>
  <div class="panel_footer">
    <a class="btn btn-success" href="{{ path('fos_user_profile_edit') }}">Editar</a>
    <a class="btn btn-success" href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a>
  </div>
{% endblock %}


