{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block panel_title %}Cambiar contraseña de {{ app.user.username }}{% endblock %}

{% block panel_body %}
  <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-md btn-success"/>
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-md btn-default">Volver</a>
    </div>
{% endblock %}

