{% extends 'layout.html.twig' %}

  {% block panel_title %}
    {{ 'panel_title.tasks'|trans({}, 'messages') }}
  {% endblock %}

  {% block panel_body %}
    <div class="widget-content">
      <table id="contacts" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="col-md-4">{{ 'table.title'|trans({}, 'messages') }}</th>
            <th class="col-md-2">{{ 'table.user'|trans({}, 'messages') }}</th>
            <th class="col-md-2">{{ 'table.date'|trans({}, 'messages') }}</th>
            <th class="col-md-1">{{ 'table.category'|trans({}, 'messages') }}</th>
            <th class="col-md-1">{{ 'table.state'|trans({}, 'messages') }}</th>
            <th class="col-md-1">{{ 'table.show'|trans({}, 'messages') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for task in task %}
            <td>{{ task.title }}</td>
            <td>{{ task.user }}</td>
            <td>{{ task.starttime|date('d-m-Y H:i') }}</td>
            <td><span class="label label-warning">{{ task.taskCategory }}</span></td>
            <td><span class="label label-primary">{{ task.state }}</span></td>
            <td>
            <a href="#">
              <button width="auto" type="button" class="btn btn-success btn-xs">
                <i class="glyphicon glyphicon-file">
              </button></a></td>
             </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  {% endblock %}
