{% extends 'layout.html.twig' %}

  {% block panel_title %}
      Editar nota
  {% endblock %}

  {% block panel_body %}
    <div class="container">
      {{ form_start(form) }}
        {{ form_widget(form) }}
          <input type="submit" value="Editar nota"
            class="{{ button_css|default("btn btn-success pull-right") }}" />
        {{ form_end(form) }}
    </div>

  </div>
  </div>
  <div class="panel-footer">
    <a href="{{ path('main') }}" class="btn btn-md btn-default">{{ 'btn.back'|trans({}, 'buttons') }}</a>
    </div>
  {% endblock %}

