{% extends 'layout.html.twig' %}

{% block panel_title %}
  {{ 'panel_title.notes'|trans({}, 'messages') }}
{% endblock %}

{% block panel_body %}
  <div id="main" class="container">
    <div class="form-horizontal">

      <div class="form-group field_string">
        <label class="col-md-2 control-label">
          {{ 'note.title'|trans({}, 'messages') }}
        </label>
        <div class="col-md-10">
          <div class="form-control text-center">
            {{ note.title }}
          </div>
        </div>
      </div>

      <div class="form-group field_text">
        <label class="col-md-2 control-label">
          {{ 'note.author'|trans({}, 'messages') }}
        </label>
        <div class="col-md-3">
          <div class="form-control text-center">
            {{ note.user }}
          </div>
        </div>
        <label class="col-md-2 control-label">
          {{ 'note.date'|trans({}, 'messages') }}
        </label>
        <div class="col-md-2">
          <div class="form-control text-center">
            {{ note.date|date('d-m-Y H:i') }}
          </div>
        </div>
      </div>

      <div class="form-group field_text">
        <label class="col-md-2 control-label">
          {{ 'note.content'|trans({}, 'messages') }}
        </label>
        <div class="col-md-10">
          <textarea readonly class="form-control" rows="20">
            {{ note.content }}
          </textarea>
        </div>
      </div>

    </div>
  </div>

  </div>
  </div>
  <div class="panel-footer">
    <a href="{{ path('editNote', { 'id':note.id }) }}" class="btn btn-md btn-success">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a href="{{ path('deleteNote', { 'id':note.id }) }}" class="btn btn-md btn-danger">
      <i class="glyphicon glyphicon-remove"></i>
    </a>
    <a href="{{ path('main') }}" class="btn btn-md btn-default">{{ 'btn.back'|trans({}, 'buttons') }}</a>
    </div>
{% endblock %}



