{% extends 'layout.html.twig' %}

{% block panel_title %}{{'home.title'|trans({}, 'messages') }}{% endblock %}

{% block panel_body %}
<div class="notes container-fluid">
  <div class="row">
    <div class="container-fluid col-md-3">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              {{ 'panel_title.public_note'|trans({}, 'messages') }}
            </div>
            </div>
            <div class="panel-body">
              {% for publicNote in publicNotes %}
                <a href="{{ path('note',{'id':publicNote.id}) }}">{{ publicNote.title  }}</a>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>

      <div class="notes container-fluid col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              {{ 'panel_title.private_note'|trans({}, 'messages') }}
            </div>
            </div>
            <div class="panel-body">
              {% for privateNote in privateNotes %}
                <a href="{{ path('note',{'id':privateNote.id}) }}">{{ privateNote.title  }}</a>
                <br>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>

    <div class="notes container-fluid col-md-8 pull-right">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              {{ 'panel_title.tasks'|trans({}, 'messages') }}
            </div>
          </div>
          <div class="panel-body">
            --- TASKS ---
          </div>
        </div>
      </div>
    </div>
  </div> 

</div>
{% endblock %}
