{% extends 'layout.html.twig' %}

{% block panel_title %}{{'home.title'|trans({}, 'messages') }}{% endblock %}

{% block panel_body %}
<div class="notes container-fluid">
  <div class="row">
    <div class="container-fluid col-md-3">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              {{ 'panel_title.public_note'|trans({}, 'messages') }}
            </div>
            </div>
            <div class="panel-body">
              {% for publicNote in publicNotes %}
                <a href="{{ path('note',{'id':publicNote.id}) }}">{{ publicNote.title |truncate(50, true) }}</a>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>

      <div class="notes container-fluid col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              {{ 'panel_title.private_note'|trans({}, 'messages') }}
            </div>
            </div>
            <div class="panel-body">
              {% for privateNote in privateNotes %}
                <a href="{{ path('note',{'id':privateNote.id}) }}">{{ privateNote.title |truncate(50, true) }}</a>
                <br>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>

    <div class="notes container-fluid col-md-8 pull-right">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              {{ 'panel_title.lasts_tasks'|trans({}, 'messages') }}
            </div>
          </div>
          <div class="panel-body">
      <table id="contacts" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="col-md-4">{{ 'table.title'|trans({}, 'messages') }}</th>
            <th class="col-md-1">{{ 'table.last_comment'|trans({}, 'messages') }}</th>
            <th class="col-md-1">{{ 'table.category'|trans({}, 'messages') }}</th>
            <th class="col-md-1">{{ 'table.state'|trans({}, 'messages') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for lastComment in lastComments  %}
            <td><a href="{{ path("task", { 'id':lastComment.id }) }}">{{ lastComment.title }}</a></td>
            <td>{{ lastComment.publishedAt|date('d-m-Y H:i') }}</td>
            <td>{{ lastComment.task_category }}</td>
            <td>{{ lastComment.state }}</td>
            <tr>
            {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> 

</div>
{% endblock %}
