{% extends 'layout.html.twig' %}

{% block panel_title %}
    Perfil de contacto
{% endblock %}

{% block panel_body %}
  {% for profiles in profile%}
    <div class=" col-md-9 col-lg-9 "> 
      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>Nombre:</td>
            <td>{{ profiles.name }}</td>
          </tr>
          <tr>
            <td>Apellidos:</td>
            <td>{{ profiles.lastname }}</td>
          </tr>
          <tr>
            <td>Ciudad:</td>
            <td>{{ profiles.city }}</td>
          </tr>
          <tr>
            <td>Dirección:</td>
            <td>{{ profiles.address }}</td>
          </tr>
          <tr>
            <td>Teléfono:</td>
            <td>{{ profiles.phone }}</td>
          </tr>
          <tr>
            <td>Móvil:</td>
            <td>{{ profiles.mobilephone }}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{ profiles.email }}</td>
          </tr>
          <tr>
            <td>Empresa:</td>
            <td>{{ profiles.company }}</td>
          </tr>
          <tr>
            <td>Anotaciones:</td>
            <td>{{ profiles.Annotations }}</td>
          </tr>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <div class="panel-footer">
      <a href="{{ path('editContact', { 'id': profiles.id }) }}" class="btn btn-md btn-success">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a href="{{ path('deleteContact', { 'id': profiles.id }) }}" class="btn btn-md btn-danger">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
      <a href="{{ path('contact') }}" class="btn btn-md btn-default">Volver</a>
    </div>
  {% endfor %}
{% endblock %}
