{% extends 'layout.html.twig' %}

{% block content%}
  <div class="container col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Contactos</h3>
      </div>
      <div class="panel-body">
  </div>
  <div class="container-fluid">
    <div class="widget-content">
      <table id="contacts" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Móvil</th>
            <th>Email</th>
            <th>Empresa</th>
            <th>Perfíl</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for contacts in contacts %}
              <td>{{ contacts.name }}</td>
              <td>{{ contacts.lastname }}</td>
              <td>{{ contacts.phone }}</td>
              <td>{{ contacts.mobilephone }}</td>
              <td>{{ contacts.email }}</td>
              <td>{{ contacts.company }}</td>
              <td>
                <a href={{ path('contactProfile', {'id': contacts.id}) }}>
                  <button width="auto" type="button" class="btn btn-success btn-xs">
                    <i class="glyphicon glyphicon-user">
                  </button></a></td>
          </tr>
            {% endfor %}
          <tr>
        </tbody>
      </table>
    </div>
    {{ knp_pagination_render(contacts) }}
  </div>
    </div>
  </div>
{% endblock %}



