{% extends 'layout.html.twig' %}

  {% block panel_title %}
    {{ 'panel_title.contacts'|trans({}, 'messages') }}
  {% endblock %}

  {% block panel_body %}
    {% include 'includes/searchBox.html.twig' %}
    <div class="widget-content col-md-10 col-md-offset-1">
      <table id="contacts" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>{{ 'table.name'|trans({}, 'messages') }}</th>
            <th>{{ 'table.last_name'|trans({}, 'messages') }}</th>
            <th>{{ 'table.phone'|trans({}, 'messages') }}</th>
            <th>{{ 'table.mobile_phone'|trans({}, 'messages') }}</th>
            <th>{{ 'table.email'|trans({}, 'messages') }}</th>
            <th>{{ 'table.company'|trans({}, 'messages') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for contacts in contacts %}
            <td><a class="contact" href="{{ path("contactProfile", { 'id':contacts.id }) }}">{{ contacts.name }}</a></td>
            <td>{{ contacts.lastname }}</td>
            <td>{{ contacts.phone }}</td>
            <td>{{ contacts.mobilephone }}</td>
            <td>{{ contacts.email }}</td>
            <td>{{ contacts.company }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {{ knp_pagination_render(contacts) }}
    </div>
  {% endblock %}
