{% extends 'layout.html.twig' %}

  {% block panel_title %}
  {{'panel_title.new_contact'|trans({}, 'messages') }}
  {% endblock %}

  {% block panel_body %}
    <div class="container">
      {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'btn.create'|trans({}, 'buttons') }}"
            class="{{ button_css|default("btn btn-success pull-right") }}" />
        {{ form_end(form) }}
    </div>

    {% include 'includes/panelFooter.html.twig' %}
  {% endblock %}
