{% extends 'layout.html.twig' %}

{% block content%}
  <div id="customerTitle" class="container">
    <h2>Clientes</h2>
  </div>
  <div class="container-fluid">
    <div class="widget-content">
      <table id="customers" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Móvil</th>
            <th>Email</th>
            <th>Empresa</th>
            <th>Perfíl</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for customers in customers %}
              <td>{{ customers.name }}</td>
              <td>{{ customers.lastname }}</td>
              <td>{{ customers.phone }}</td>
              <td>{{ customers.mobilephone }}</td>
              <td>{{ customers.email }}</td>
              <td>{{ customers.company }}</td>
              <td><button width="auto" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-user"></button></td>
          </tr>
            {% endfor %}
          <tr>
        </tbody>
      </table>
    </div>
    {{ knp_pagination_render(customers) }}
  </div>
{% endblock %}



